*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{background-color: blue;
 height: 500px;}

.nav{display: flex;
justify-content: space-evenly;
align-items: center;
padding-top: 1%;}

#logo{font-size: 40px;
    display: flex;}

    
.menu{display: flex;
list-style: none;
justify-content: space-between;
flex-basis: 40%;
color: white;
}

.botton-white{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

/* Hero */
.hero{color: white;
    height: 400px;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* Debug rules

section{
    background-color: brown;
    height: 500px;
    border: 1px solid black;
} */
